* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #000;
    font-family: 'Armata', sans-serif;
    overflow-x: hidden;
}


.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*............................. Header.............................*/
header {
    background: url('dist/img/doris-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

/*.............................Navigation.............................*/
.navbar {
    font-size: 20px;
    background: rgba(255, 255, 255, .45);
    border-bottom-color: rgba(255, 255, 255, .35);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    z-index: 1;
    color: white;
}

.menu-toggle {
    color: #000;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
}

.main-nav {
    list-style: none;
    display: none;
    flex-direction: column;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.nav-links,
.logo {
    text-decoration: none;
    color: #000;
}

.nav-links {
    text-transform: uppercase;
}

.nav-links.active {
    border-bottom: 2px solid #E49130;
    color: #E49130;
}

.nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .8s;
}

.nav-links:hover::after {
    width: 100%;
}



/*.............................Logo.............................*/
.logo {
    display: inline-block;
    width: 300px;
    padding-top: 10px;
    margin: 10px 0 20px 10px;
}

.logo img {
    width: 100%;
    height: auto;
}

/*.............................Achievements.............................*/
.achievements {
    height: 10vh;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.achievements span {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


/*.............................About.............................*/

.about {
    padding: 120px 0;
    text-align: center;
    background-color: #F4F4F6;
}

.about p {
    padding: 0 15px;
    color: #3b3a38;
}

.paragraph {
    color: #E49130;
    font-weight: bold;
    font-size: 22px;
}

.description {
    padding: 10px;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 10px;

}

/*.............................How we works.............................*/
.how-works {
    padding: 120px 0;
}

.info-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: justify;
    cursor: pointer;
}

.scene {
    width: 100%;
    height: 100%;
}

.card {
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
}


.card__face--front h2 {
    padding: 10px 0;
    font-size: 26px;
}



.card__face--back p {
    padding: 10px;
    text-decoration: justify;
}

.icon {
    width: 60px;
    display: block;
    position: relative;
    font-size: 24px;
    left: 0;
    top: 0;
    margin: 0 auto;
}

/*.............................Projects list.............................*/
.projects {
    padding: 120px 0;
    background-color: #F4F4F6;
    margin: 0 auto;
    width: 100%;
}

.items_gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 32px;
}

.gallery-item {
    width: 100%;
    position: relative;
    text-decoration: none;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    opacity: 1;
}


.text-wrapper span {
    font-size: 1.5em;
    padding-bottom: 15px;
    text-transform: uppercase;
}

/*.............................Projects item.............................*/
.port {
    background-color: rgba(255, 255, 255, .8);
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.description-project {
    width: 100%;
    padding: 0 10px;
    margin: auto;
    height: auto;
}

.description-project p {
    text-align: justify;
}

.description-project h2 {
    font-size: 32px;
    text-transform: uppercase;
}

.description-btn {
    display: none;
}

.item-header {
    padding-bottom: 5px;
    border-bottom: 2px solid;
    margin: 20px;
    text-align: center;
}

.gallery-project {
    width: 100%;
    padding-top: 15px;
    display: flex;
    margin: auto;
}

.close {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    left: calc(100% - 25px);
    cursor: pointer;
    font-size: 30px;
}

/*.............................Projects gallery.............................*/
.grid {
    width: 100%;
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
}

.image {
    width: 100%;
    height: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.grid-dot {
    text-align: center;
    margin: 0 auto;
    display: flex;
    padding-top: 12px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s linear;
}

.dot.active {
    background-color: #333;
}



/*.............................Contact.............................*/
.contact {
    padding: 120px 0;
    background-color: #3b3a38;
    color: #fff;
}

.contact h3 {
    padding: 1rem 0;
}


/*.............................Contact form.............................*/
.container-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info h3,
.contact-info ul {
    text-align: center;
    margin: 0 0 16px 0;
}

.contact-info ul li {
    padding: 5px;
}

.contact-info h3 {
    font-size: 32px;
}

.data-info {
    padding: 0 60px;
}

.data-info a {
    text-decoration: none;
    color: #fff;
}

.data-info a:hover {
    color: #E49130
}


/*.............................Form.............................*/
.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

.contact-form form label {
    display: block;
}

.contact-form p {
    margin: 0;
}

.contact-form form .full {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input[type=text],
.contact-form form textarea {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 5px;
}

.contact-form form button {
    background-color: #fff;
    width: 200px;
    font-weight: bold;
    font-size: 18px;

}

.contact-form form button:hover,
.contact-form form button:focus {
    background-color: #000;
    color: #fff;
    outline: 0;
    transition: background-color 1s linear;
}

input[type=checkbox] {
    width: 30px;
    height: 20px;
    margin-top: 2px;
}

.check {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.check span {
    cursor: pointer;
}

.popover__wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

.popover__content {
    color: #000;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    text-align: justify;
    transform: translate(0, 10px);
    background-color: rgba(255, 255, 255, .8);
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
    width: 500px;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: '';
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #BFBFBF transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}



/*.............................Tekst.............................*/
h1 {
    padding: 1rem 0;
}

section h2 {
    font-size: 40px;
    padding-bottom: 40px;
    text-align: center;
}

p {
    font-size: 16px;
}

.active {
    display: flex;
}

.hidde {
    display: none;
}

/*.............................Footer.............................*/
footer {
    background-color: #222222;
    padding: 40px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

footer .wrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    width: calc(100% / 2);
    color: #fff;
}

.logo-footer {
    width: 150px;
    display: block;
    padding: 40px 10px;
}

.logo-footer img {
    width: 100%;
    height: auto;
}

.footer-main-nav {
    list-style: none;
}

.footer_nav-links {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.footer_social-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 18px;
}

.footer-main-nav li {
    margin: 8px 5px;
}

.footer_nav-links i {
    font-size: 25px;
}

.footer_nav-links:hover {
    color: #E49130;
}


@media only screen and (min-width: 1025px) {

    /*.............................Menu.............................*/
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 10vh;
        align-items: center;
        position: fixed;
    }

    .main-nav {
        display: flex !important;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin-left: 30px;
    }


    .log {
        margin-top: 0;
    }

    .menu-toggle {
        display: none;
    }


    .nav-links::after {
        content: '';
        display: none;
        width: 0;
        height: 2px;
        background: #000;
        transition: width .8s;
    }

    .nav-links:hover::after {
        width: 100%;
    }

    /*.............................Projects.............................*/
    .description {
        max-width: 1200px;
        margin: auto;
    }

    .items_gallery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 32px;
    }


    .gallery-item {
        width: 32%;
        flex-grow: 1;
    }

    /*.............................Popover.............................*/
    .check span {
        text-decoration: underline;
    }

    .popover__content {
        color: #000;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: -150px;
        text-align: justify;
        transform: translate(0, 10px);
        background-color: rgba(255, 255, 255, .8);
        padding: 1.5rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
        width: 500px;
    }

    .popover__content:before {
        position: absolute;
        z-index: -1;
        content: '';
        right: calc(50% - 10px);
        top: -8px;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #BFBFBF transparent;
        transition-duration: 0.3s;
        transition-property: transform;
    }

    .check .popover__wrapper:hover+.popover__content {
        z-index: 10;
        opacity: 1;
        visibility: visible;
        left: 30%;
        transform: translate(0, 25px);
        transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    }

    .scene {
        width: 350px;
        height: 250px;
        perspective: 600px;
    }

    .card {
        padding: 10px;
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 1s;
        transform-origin: center right;
        transform-style: preserve-3d;
    }

    .card__face {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
    }

    .card__face--front h2 {
        padding: 10px 0;
        font-size: 26px;
    }

    .card__face--back {
        background-color: #fff;
        transform: rotateY(180deg);
    }

    .card__face--back p {
        padding: 10px;
        text-decoration: justify;
    }

    .card:hover {
        transform: rotateY(180deg);
        transform: translate(-100%) rotateY(-180deg)
    }



    /*.............................Project Item.............................*/
    .port {
        flex-direction: row;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;


    }

    .description-project {
        min-width: 340px;
        width: 30vw;
        height: auto;
    }

    .description-btn {
        display: block;
        align-self: flex-start;
        position: relative;
        top: 0;
        left: -50px;
        font-size: 35px;
        cursor: pointer;
    }

    .gallery-project {
        width: calc(100% - 30vw);

    }

    .text-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        opacity: 0;
    }

    .text-wrapper:hover {
        transition: all 0.8s ease;
        background: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }

    /*.............................Teks.............................*/

    section h2 {
        font-size: 48px;
        padding-bottom: 40px;
        text-align: center;
    }

    p {
        font-size: 16px;
    }

    .about img {
        max-width: 350px;
    }


    /*.............................How we works.............................*/
    .info-grid {
        grid-template-columns: 1fr 1fr 1fr;


    }

    /*.............................Galery.............................*/
    .prev,
    .next {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #fff;
        font-weight: bold;
        font-size: 32px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .grid-dot {
        text-align: center;
        margin: 0 auto;
        display: flex;
        padding-top: 12px;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active-dot {
        background-color: #333;
    }

    /*..........................Form..............................*/

    .contact-info {
        flex-direction: row;
    }

    .check span {
        font-size: 12px;
        margin: auto;
    }
}